/* importing the fonts */
@font-face {
    font-family: 'DMSansBold';
    src: url('assets/fonts/DM_Sans/static/DMSans-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'DMSansRegular';
    src: url('assets/fonts/DM_Sans/static/DMSans-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'DMSansSemiBold';
    src: url('assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf') format('truetype');
}


/* resets */
:root {
    --yellow-col: #FF9F00;
    --purple-col: #D3A0FA;
    --orange-col: #FE8159;
    --black-col:    #12131A;
    --light-grey-col: #21222C;
    --white-col: #F2F2F7;
    --white-col-200: #E4E4EF
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 16px;
}


body {
    width: 100%;
    background-image: url('assets/images/bg-dark-theme.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}



.container {
    max-width: 61.875rem;
    margin: 2rem auto 4rem auto;
    overflow-x: hidden;
    /* background-color: tomato; */
}




/* navbar styles */
.navbar {
    margin-bottom: 3rem;
}


.navbar section {
    display: flex;
    justify-content: space-between;
}


.navbar button {
    background-color: var(--light-grey-col);
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 0.7rem;
    border: none;
}


/* header section */
.header-section {
    margin-bottom: 3rem;
}


.header-section .header-text-div {
    width: 31.875rem;
    margin: 0 auto;
}


.header-section .analyze-text {
    font-family: 'DMSansBold', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    color: var(--white-col);
}



/* text area section */
.text-area-section {
    margin-bottom: 3rem;
}


.text-area-section .text-area {
    width: 100%;
    height: 12.5rem;
    padding: 1rem;
    margin-bottom: 0.2rem;
    background-color: var(--light-grey-col);
    border-radius: 0.75rem;
    resize: none;
    outline: none;
    box-shadow: none;
    color: var(--white-col);
    font-size: 1rem;
}


.text-area:focus {
    border-color: #c27cf8;
}


.text-area-section .count-options-div {
    display: flex;
    justify-content: space-between;
}


.text-area-section .count-options-div article {
    display: flex;
    justify-content: center;
}

.text-area-section .count-options-div span {
    color: var(--white-col-200);
    font-family: 'DMSansRegular', sans-serif;
    font-size: 1rem;
}



.text-area-section .count-options-div article div {
    margin-right: 1.3rem;
}


.text-area-section .count-options-div .approx-reading-time-text {
    font-family: 'DMSansRegular', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: var(--white-col-200);
}


.character-limit-input {
    display: none;
    /* visibility: hidden; */
}


.show-character-limit-input {
    visibility: visible;
    height: 1.5rem;
    border-radius: 0.3rem;
    padding: 0.6rem;
    font-family: 'DMSansBold';
}


.error-text {
    visibility: hidden;
}


.show-error-text {
    color: red;
    font-family: 'DMSansRegular', sans-serif;
    margin-bottom: 0.5rem;
    margin-bottom: 1.6rem;
}


.checkbox {
    cursor: pointer;
}


.character-limit-checkbox {
    cursor: pointer;
}


.exceeded-limit {
    border-color: red;
}







/* character display section */
.character-display-section {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}


.character-display-section .character-display-div {
    background-color: var(--purple-col);
    padding: 1rem;
    border-radius: 0.75rem;
    width: 20rem;
    height: 9.375rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;


}


.character-display-section .word-count-display-div { 
    background-color: var(--yellow-col);
    padding: 1rem;
    border-radius: 0.75rem;
    width: 20rem;
    height: 9.375rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;



}


.character-display-section .sentence-display-div {
    background-color: var(--orange-col);
    padding: 1rem;
    border-radius: 0.75rem;
    width: 20rem;
    height: 9.375rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

}


.character-display-section .count-number-text {
    font-family: 'DMSansBold', sans-serif;
    font-size: 4rem;
    color: var(--black-col);
    /* font-weight: bold; */

}


.character-display-section .word-number-text {
    font-family: 'DMSansBold', sans-serif;
    font-size: 4rem;
    color: var(--black-col);
    /* font-weight: bold; */

}


.character-display-section .sentence-number-text {
    font-family: 'DMSansBold', sans-serif;
    font-size: 4rem;
    color: var(--black-col);
    /* font-weight: bold; */

}




.character-display-section .count-type-text {
    font-family: 'DMSansRegular', sans-serif;
    color: var(--black-col);
    font-size: 1.25rem;

}


.character-display-section .pattern-image {
    position: absolute;
    right: 0px;
    bottom: 0;
}




/* letter density section */
.letter-density-section {
    margin-bottom: 4rem;
}

.letter-density-section .letter-density-text {
    font-family: 'DMSansSemiBold', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1.25rem;
    color: var(--white-col-200)
}


.letter-density-section .letter-density-display-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.031rem;
}


.letter-density-section .density-bar-parent-div {
    width: 53.688rem;
    height: 0.8rem;
    background-color: var(--light-grey-col);
    border-radius: 62.438rem;
}


.letter-density-section .density-bar-child-div {
    width: 16%;
    height: 0.8rem;
    background-color: var(--purple-col);
    border-radius: 62.438rem;
}


.letter-density-section .letter-density-info-text {
    font-family: 'DMSansRegular', sans-serif;
    font-size: 1rem;
    color: var(--white-col-200);
    font-weight: normal;
}


/* .letter-bar {
    width: 90%
} */

.letter-bar.hidden {
    display: none;
  }


#toggle-density-btn {
    background-color: var(--black-col);
    color: var(--white-col);
    font-family: 'DMSansRegular', sans-serif;
    font-size: 1rem;
    border: none;
    width: 6rem;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

/* #toggle-density-btn:hover {
    background-color: whitesmoke;
} */






/* responsiveness */
/* tablet responsiveness */
@media ( max-width: 960px ) {

    .container {
        max-width: 48rem;
        margin: 2rem auto 4rem auto;
        overflow-x: hidden;
        /* background-color: tomato; */
    }


    /* navbar */
    .navbar {
        margin-bottom: 2.5rem;
    }
    
    
    .navbar section {
        display: flex;
        justify-content: space-between;
        margin: 0 2rem;
    }



    /* header section */
    .header-section {
        margin-bottom: 2.5rem;
    }

    
    .header-section .analyze-text {
        font-family: 'DMSansBold', sans-serif;
        font-size: 3.5rem;
        text-align: center;
        color: var(--white-col);
    }


    /* text area section */
    .text-area-section {
        margin-bottom: 2.5rem;
    }


    .text-area-section .text-area {
        width: 44rem;
        height: 12.5rem;
        padding: 1rem;
        margin: 0 2rem 1rem 2rem;
        background-color: var(--light-grey-col);
        border-radius: 0.75rem;
        resize: none;
        outline: none;
        box-shadow: none;
        color: var(--white-col);
        font-size: 1rem;
    }


    .text-area-section .count-options-div {
        display: flex;
        justify-content: space-between;
        width: 44rem;
        margin: 0 2rem 1rem 2rem;
    }


    .text-area-section .count-options-div article {
        display: flex;
        justify-content: center;
    }


    .text-area-section .count-options-div span {
        color: var(--white-col-200);
        font-family: 'DMSansRegular', sans-serif;
        font-size: 1rem;
    }



    .text-area-section .count-options-div article div {
        margin-right: 1.3rem;
    }


    .text-area-section .count-options-div .approx-reading-time-text {
        font-family: 'DMSansRegular', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: var(--white-col-200);
    }



    /* character display section */
    .character-display-section {
        width: 44rem;
        margin: 0 2rem 1rem 1.5rem;
        display: flex;
        justify-content: space-between;
    }


    .character-display-section .character-display-div {
        background-color: var(--purple-col);
        padding: 1rem;
        border-radius: 0.75rem;
        width: 14rem;
        height: 9.375rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;


    }


    .character-display-section .word-count-display-div { 
        background-color: var(--yellow-col);
        padding: 1rem;
        border-radius: 0.75rem;
        width: 14rem;
        height: 9.375rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;

    }


    .character-display-section .sentence-display-div {
        background-color: var(--orange-col);
        padding: 1rem;
        border-radius: 0.75rem;
        width: 14rem;
        height: 9.375rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;

    }


    .character-display-section .count-number-text {
        font-family: 'DMSansBold', sans-serif;
        font-size: 3.5rem;
        color: var(--black-col);
        /* font-weight: bold; */

    }


    .character-display-section .word-number-text {
        font-family: 'DMSansBold', sans-serif;
        font-size: 4rem;
        color: var(--black-col);
        /* font-weight: bold; */
    
    }
    
    
    .character-display-section .sentence-number-text {
        font-family: 'DMSansBold', sans-serif;
        font-size: 4rem;
        color: var(--black-col);
        /* font-weight: bold; */
    
    }
    

    .character-display-section .count-type-text {
        font-family: 'DMSansRegular', sans-serif;
        color: var(--black-col);
        font-size: 1.15rem;

    }


    .character-display-section .pattern-image {
        position: absolute;
        right: -80px;
        bottom: 0;
    }




    /* letter density section */
    .letter-density-section {
        width: 44rem;
        margin: 0 2rem 1rem 1.5rem;
    }


    .letter-density-section .letter-density-text {
        font-family: 'DMSansSemiBold', sans-serif;
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 1.25rem;
        color: var(--white-col-200)
    }


    .letter-density-section .letter-density-display-div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.75rem;
    }


    .letter-density-section .density-bar-parent-div {
        width: 35.813rem;
        height: 0.75rem;
        background-color: var(--light-grey-col);
        border-radius: 62.438rem;
    }


    .letter-density-section .density-bar-child-div {
        width: 16%;
        height: 0.75rem;
        background-color: var(--purple-col);
        border-radius: 62.438rem;
    }


    .letter-density-section .letter-density-display-article h3 {
        font-family: 'DMSansRegular', sans-serif;
        font-size: 1rem;
        color: var(--white-col-200);
        font-weight: normal;
    }

}




/* mobile responiveness */
@media ( max-width: 768px ) {
    .container {
        max-width: 23.433rem;
        margin: 2rem auto 4rem auto;
        overflow-x: hidden;

        /* background-color: red; */
    }


    /* navbar styles */
    .navbar {
        margin-bottom: 2.5rem;
    }
    
    
    .navbar section {
        width: 21.438;
        display: flex;
        justify-content: space-between;
        margin: 0 1rem 1.063rem 1rem;
    }

    
    .navbar .site-logo {
        width: 11.5rem;
    }

    .navbar .theme-icon {
        width: 1.25rem;
    }



    /* header section styles */
    .header-section {
        margin-bottom: 2.5rem;

    }

    .header-section .header-text-div {
        width: 23.438rem;
    }

    
    .header-section .analyze-text {
        font-family: 'DMSansBold', sans-serif;
        margin: 0 1rem 0 1rem;
        font-size: 2.5rem;
        text-align: center;
        color: var(--white-col);
    }


    /* text area section styles */
    .text-area-section {
        margin-bottom: 2.5rem;
    }


    .text-area-section .text-area {
        width: 21.438rem;
        height: 12.5rem;
        padding: 1rem;
        margin: 0 1rem 1rem 1rem;
        background-color: var(--light-grey-col);
        border-radius: 0.75rem;
        resize: none;
        outline: none;
        box-shadow: none;
        color: var(--white-col);
        font-size: 1.25rem;
        line-height: 140%;
    }


    .text-area-section .count-options-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 44rem;
        /* height: 5.438rem; */
        margin: 0 2rem 1rem 2rem;
    }


    .text-area-section .count-options-div article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .text-area-section .count-options-div span {
        color: var(--white-col-200);
        font-family: 'DMSansRegular', sans-serif;
        font-size: 0.85rem;
        font-weight: normal;
    }



    .text-area-section .count-options-div article div {
        margin-right: 1.3rem;
        margin-bottom: 0.75rem;

    }


    .text-area-section .count-options-div .approx-reading-time-text {
        font-family: 'DMSansRegular', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: var(--white-col-200);
    }



    /* character display section */
    .character-display-section {
        width: 21.438rem;
        height: 26.375rem;
        margin: 0 1rem 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .character-display-section .character-display-div {
        background-color: var(--purple-col);
        padding: 1rem;
        border-radius: 0.75rem;
        width: 21.438rem;
        height: 8.125rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;

    }


    .character-display-section .word-count-display-div { 
        background-color: var(--yellow-col);
        padding: 1rem;
        border-radius: 0.75rem;
        width: 21.438rem;
        height: 8.125rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;

    }


    .character-display-section .sentence-display-div {
        background-color: var(--orange-col);
        padding: 1rem;
        border-radius: 0.75rem;
        width: 21.438rem;
        height: 8.125rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;

    }


    .character-display-section .count-number-text {
        font-family: 'DMSansBold', sans-serif;
        font-size: 3.5rem;
        color: var(--black-col);
        /* font-weight: bold; */

    }


    .character-display-section .word-number-text {
        font-family: 'DMSansBold', sans-serif;
        font-size: 4rem;
        color: var(--black-col);
        /* font-weight: bold; */
    
    }
    
    
    .character-display-section .sentence-number-text {
        font-family: 'DMSansBold', sans-serif;
        font-size: 4rem;
        color: var(--black-col);
        /* font-weight: bold; */
    
    }
    

    .character-display-section .count-type-text {
        font-family: 'DMSansRegular', sans-serif;
        color: var(--black-col);
        font-size: 1.15rem;

    }


    .character-display-section .pattern-image {
        position: absolute;
        right: -80px;
        bottom: 0;
    }



    /* letter density section */
    .letter-density-section {
        width: 21.438rem;
        height: 15.75rem;
        margin: 0 2rem 1rem 1.5rem;
    }


    .letter-density-section .letter-density-text {
        font-family: 'DMSansSemiBold', sans-serif;
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 1.25rem;
        color: var(--white-col-200)
    }


    .letter-density-section .letter-density-display-div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.75rem;
    }


    .letter-density-section .density-bar-parent-div {
        align-self: center;
        width: 13.25rem;
        height: 0.75rem;
        background-color: var(--light-grey-col);
        border-radius: 62.438rem;
    }


    .letter-density-section .density-bar-child-div {
        width: 16%;
        height: 0.75rem;
        background-color: var(--purple-col);
        border-radius: 62.438rem;
    }


    .letter-density-section .letter-density-display-article h3 {
        font-family: 'DMSansRegular', sans-serif;
        font-size: 1rem;
        color: var(--white-col-200);
        font-weight: normal;
    }




}