/* importing the fonts */
@font-face {
    font-family: 'DMSansBold';
    src: url('assets/fonts/DM_Sans/static/DMSans-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'DMSansRegular';
    src: url('assets/fonts/DM_Sans/static/DMSans-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'DMSansSemiBold';
    src: url('assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf') format('truetype');
}


:root {
    --yellow-col: #FF9F00;
    --purple-col: #D3A0FA;
    --orange-col: #FE8159;
    --black-col:    #12131A;
    --light-grey-col: #21222C;
    --white-col: #F2F2F7;
    --white-col-200: #E4E4EF;
    --text-area-focus: #c27cf8;
    --light-header-text-col: #12131A;
    --light-text-area-bg: #F2F2F7;
    --light-sub-text-col: #2A2B37;
    --cols-neutral-900: #12131A;
    --cols-neutral-600: #404254;
    --cols-neutral-100: #F2F2F7;
    --cols-neutral-700: #2A2B37;
    --text-exceeded-dark-bg: #FE8159;
    --light-text-exceeded-bg: #DA3701;
    --cols-neutral-200: #E4E4EF;
}


/* resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 16px;
}


body {
    width: 100%;
    transition: background-image 0.3s ease;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}


/* Themes */
.dark-theme {
    background-image: url('assets/images/bg-dark-theme.png');
}
  

.light-theme {
    background-image: url("assets/images/bg-light-theme.png");
}
  


.container {
    max-width: 61.875rem;
    margin: 2rem auto 4rem auto;
    overflow-x: hidden;
}




/* navbar styles */
.navbar {
    margin-bottom: 3rem;
}


.navbar section {
    display: flex;
    justify-content: space-between;
}


.navbar button {
    background-color: var(--light-grey-col);
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 0.7rem;
    border: none;
    width: 2.75rem;
    height: 2.75rem;
}


.light-theme .navbar button {
    background-color: var(--cols-neutral-100);
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 0.7rem;
    border: none;
    width: 2.75rem;
    height: 2.75rem;

}


/* header section */
.header-section {
    margin-bottom: 3rem;
}


.header-section .header-text-div {
    width: 31.875rem;
    margin: 0 auto;
}


.header-section .analyze-text {
    font-family: 'DMSansBold', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    color: var(--white-col);
}


.light-theme .analyze-text {
    font-family: 'DMSansBold', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    color: var(--cols-neutral-900);
}




/* text area section */
.text-area-section {
    margin-bottom: 3rem;
}


.text-area-section .text-area {
    width: 100%;
    height: 12.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--light-grey-col);
    border-radius: 0.75rem;
    resize: none;
    outline: none;
    box-shadow: none;
    color: var(--white-col);
    font-size: 1rem;
    cursor: pointer;
}


.text-area-section .text-area::placeholder {
    font-family: "DMSansRegular", sans-serif;
    font-size: 1.25rem;
    color: var(--cols-neutral-200)
}


.light-theme .text-area {
    font-family: 'DMSansRegular', sans-serif;
    font-size: 1.25rem;
    background-color: var(--light-text-area-bg);
    color: var(--cols-neutral-700);
    margin-bottom: 1rem;
    width: 100%;
    height: 12.5rem;
    padding: 1rem;
    border-radius: 0.75rem;
    resize: none;
    outline: none;
    box-shadow: none;
    font-size: 1rem;

}


.light-theme .text-area-section .text-area::placeholder {
    font-family: "DMSansRegular", sans-serif;
    font-size: 1.25rem;
    color: var(--light-sub-text-col)
}



.text-area-section .count-options-div span {
    color: var(--white-col-200);
    font-family: 'DMSansRegular', sans-serif;
    font-size: 1rem;
    margin-left: 0.156rem;

}


.light-theme .text-area-section .count-options-div span {
    color: var(--cols-neutral-900);
    font-family: 'DMSansRegular', sans-serif;
    font-size: 1rem;
    
}


.text-area-section .count-options-div .approx-reading-time-text {
    font-family: 'DMSansRegular', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: var(--white-col-200);
}


.light-theme .text-area-section .count-options-div .approx-reading-time-text {
    color: var(--cols-neutral-900);
    font-family: 'DMSansRegular', sans-serif;
    font-size: 1rem;
    font-weight: normal;
}


.text-area:focus {
    border-color: var(--text-area-focus);
    box-shadow: 0 0 5px 1px var(--text-area-focus);
}


.light-theme .text-area:focus {
    border-color: var(--text-area-focus);
    box-shadow: 0 0 4px 4px 0 var(--text-area-focus);
}


.text-area:focus.limit-exceeded {
    border-color: var(--text-exceeded-dark-bg);
    box-shadow: 0 0 5px 1px var(--text-exceeded-dark-bg) !important;
}


.light-theme .text-area:hover {
    cursor: pointer;
    background-color: var(--cols-neutral-200);
}


.text-area-section .checkbox {
    appearance: none;
    width: 1rem;
    height: 0.93rem;
    border: 1px solid var(--white-col);
    background-color: var(--cols-neutral-900);
    cursor: pointer;
    border-radius: 0.25rem;
    position: relative;
}

.text-area-section .checkbox:checked {
    background-color: var(--text-area-focus);
    border: 1px solid var(--cols-neutral-900);

}

.text-area-section .checkbox::after {
    content: '';
    position: absolute;
    left: 0.275rem;
    top: 0.1rem;
    width: 0.18rem;
    height: 0.5rem;
    border: solid var(--cols-neutral-900);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


/* exclude spaces checkbox light theme config */
.light-theme .text-area-section .checkbox {
    appearance: none;
    width: 1rem;
    height: 0.93rem;
    border: 1px solid var(--cols-neutral-600);
    background-color: var(--white-col);
    cursor: pointer;
    border-radius: 0.25rem;
    position: relative;
}


.light-theme .text-area-section .checkbox:checked {
    background-color: var(--text-area-focus);

}


.light-theme .text-area-section .checkbox::after {
    content: '';
    position: absolute;
    left: 0.275rem;
    top: 0.1rem;
    width: 0.18rem;
    height: 0.5rem;
    border: solid transparent;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    pointer-events: none;

}

.light-theme .text-area-section .checkbox:checked::after {
    border-color: var(--cols-neutral-900);
}




/* character limit checkbox */
.text-area-section .character-limit-checkbox {
    appearance: none;
    width: 1rem;
    height: 0.93rem;
    border: 1px solid var(--white-col);
    background-color: var(--cols-neutral-900);
    cursor: pointer;
    border-radius: 0.25rem;
    position: relative;
}

.text-area-section .character-limit-checkbox:checked {
    background-color: var(--text-area-focus);
    border: 1px solid var(--cols-neutral-900);

}

.text-area-section .character-limit-checkbox::after {
    content: '';
    position: absolute;
    left: 0.275rem;
    top: 0.1rem;
    width: 0.18rem;
    height: 0.5rem;
    border: solid var(--cols-neutral-900);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


/* character limit checkbox light-theme config */
.light-theme .text-area-section .character-limit-checkbox {
    appearance: none;
    width: 1rem;
    height: 0.93rem;
    border: 1px solid var(--cols-neutral-600);
    background-color: var(--white-col);
    cursor: pointer;
    border-radius: 0.25rem;
    position: relative;
}


.light-theme .text-area-section .character-limit-checkbox:checked {
    background-color: var(--text-area-focus);
}


.light-theme .text-area-section .character-limit-checkbox::after {
    content: '';
    position: absolute;
    left: 0.275rem;
    top: 0.1rem;
    width: 0.18rem;
    height: 0.5rem;
    border: solid transparent;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    pointer-events: none;
}

.light-theme .text-area-section .character-limit-checkbox:checked::after {
    border-color: var(--cols-neutral-900);
}





.text-area-section .count-options-div {
    display: flex;
    justify-content: space-between;
}


.text-area-section .count-options-div article {
    display: flex;
    justify-content: center;
}


.text-area-section .count-options-div article div {
    margin-right: 1.3rem;
}


.character-limit-input {
    display: none;
}


.show-character-limit-input {
    width: 3.438rem;
    height: 1.813rem;
    background-color: var(--black-col);
    color: var(--white-col-200);
    border: 1px solid var(--cols-neutral-600);
    border-radius: 0.3rem;
    padding: 0 0.3rem ;
    font-family: 'DMSansRegular';
}


.light-theme .show-character-limit-input {
    width: 3.438rem;
    height: 1.813rem;
    background-color: var(--cols-neutral-100);
    color: var(--cols-neutral-900);
    border: 1px solid var(--cols-neutral-900);
    border-radius: 0.3rem;
    padding: 0 0.3rem ;
    font-family: 'DMSansRegular';
}


.error-text {
    display: none;
}


.show-error-text {
    color: var(--orange-col);
    font-family: 'DMSansRegular', sans-serif;
    margin-bottom: 0.5rem;
}


.light-theme .show-error-text {
    color: var(--orange-col);
    font-family: 'DMSansRegular', sans-serif;
    margin-bottom: 0.5rem;
}





/* character display section */
.character-display-section {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}


.character-display-section .character-display-div {
    background-color: var(--purple-col);
    padding: 1rem;
    border-radius: 0.75rem;
    width: 20rem;
    height: 9.375rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

}


.character-display-section .word-count-display-div { 
    background-color: var(--yellow-col);
    padding: 1rem;
    border-radius: 0.75rem;
    width: 20rem;
    height: 9.375rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}


.character-display-section .sentence-display-div {
    background-color: var(--orange-col);
    padding: 1rem;
    border-radius: 0.75rem;
    width: 20rem;
    height: 9.375rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}


.character-display-section .count-number-text {
    font-family: 'DMSansBold', sans-serif;
    font-size: 4rem;
    color: var(--black-col);
}


.character-display-section .word-number-text {
    font-family: 'DMSansBold', sans-serif;
    font-size: 4rem;
    color: var(--black-col);
}


.character-display-section .sentence-number-text {
    font-family: 'DMSansBold', sans-serif;
    font-size: 4rem;
    color: var(--black-col);
}




.character-display-section .count-type-text {
    font-family: 'DMSansRegular', sans-serif;
    color: var(--black-col);
    font-size: 1.25rem;
}


.character-display-section .pattern-image {
    position: absolute;
    right: -50px;
    bottom: 0;
}





/* letter density section */
.letter-density-section {
    margin-bottom: 4rem;
}

.letter-density-section .letter-density-text {
    font-family: 'DMSansSemiBold', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1.25rem;
    color: var(--white-col-200)
}


.light-theme .letter-density-text {
    font-family: 'DMSansSemiBold', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1.25rem;
    color: var(--cols-neutral-900)
}


.letter-density-section .no-characters-found-text {
    font-family: 'DMSansRegular', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: var(--white-col-200);
}


.light-theme .no-characters-found-text {
    font-family: 'DMSansRegular', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: var(--cols-neutral-600);
}


.hide-no-characters-found-text {
    display: none;
}


.letter-density-section .letter-density-display-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.031rem;
}


.letter-density-section .density-bar-parent-div {
    width: 53.688rem;
    height: 0.8rem;
    background-color: var(--light-grey-col);
    border-radius: 62.438rem;
}


.light-theme .density-bar-parent-div {
    width: 53.688rem;
    height: 0.8rem;
    background-color: var(--cols-neutral-100);
    border-radius: 62.438rem;
}


.letter-density-section .density-bar-child-div {
    height: 0.8rem;
    background-color: var(--purple-col);
    border-radius: 62.438rem;
}


.letter-density-section .letter-density-info-text {
    font-family: 'DMSansRegular', sans-serif;
    font-size: 1rem;
    color: var(--white-col-200);
    font-weight: normal;
}


.light-theme .letter-density-info-text {
    font-family: 'DMSansRegular', sans-serif;
    font-size: 1rem;
    color: var(--cols-neutral-900);
    font-weight: normal;
}



.letter-bar.hidden {
    display: none;
  }


.see-more-density-div {
    font-family: 'DMSansRegular', sans-serif;
    color: var(--white-col);
    font-size: 1rem;
    cursor: pointer;
}


.light-theme .see-more-density-div {
    font-family: 'DMSansRegular', sans-serif;
    color: var(--cols-neutral-900);
    font-size: 1rem;
    cursor: pointer;
}


#toggle-density-btn {
    background-color: var(--black-col);
    color: var(--white-col);
    font-family: 'DMSansRegular', sans-serif;
    font-size: 1rem;
    border: none;
    width: 6rem;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}





/* responsiveness */
/* tablet responsiveness */
@media ( max-width: 960px ) {

    .container {
        max-width: 48rem;
        margin: 2rem auto 4rem auto;
        overflow-x: hidden;
    }


    /* navbar */
    .navbar {
        margin-bottom: 2.5rem;
    }
    
    
    .navbar section {
        display: flex;
        justify-content: space-between;
        margin: 0 2rem;
    }


    /* header section */
    .header-section {
        margin-bottom: 2.5rem;
    }

    
    .header-section .analyze-text {
        font-family: 'DMSansBold', sans-serif;
        font-size: 3.5rem;
        text-align: center;
        color: var(--white-col);
    }


    .light-theme .analyze-text {
        font-family: 'DMSansBold', sans-serif;
        font-size: 3.5rem;
        text-align: center;
        color: var(--cols-neutral-900);
    }


    /* text area section */
    .text-area-section {
        margin-bottom: 2.5rem;
    }


    .text-area-section .text-area {
        width: 44rem;
        height: 12.5rem;
        padding: 1rem;
        margin: 0 2rem 1rem 2rem;
        background-color: var(--light-grey-col);
        border-radius: 0.75rem;
        resize: none;
        outline: none;
        box-shadow: none;
        color: var(--white-col);
        font-size: 1rem;
    }


    .light-theme .text-area {
        font-family: 'DMSansRegular', sans-serif;
        width: 44rem;
        height: 12.5rem;
        padding: 1rem;
        margin: 0 2rem 1rem 2rem;
        background-color: var(--cols-neutral-100 );
        border-radius: 0.75rem;
        resize: none;
        outline: none;
        box-shadow: none;
        color: var(--cols-neutral-900);
        font-size: 1.25rem;
    }


    .light-theme .text-area:hover {
        background-color: var( --cols-neutral-200 );
    }


    .light-theme .text-area:focus {
        box-shadow: 0 4px 4px var(--purple-col);
    }


    .text-area-section .count-options-div {
        display: flex;
        justify-content: space-between;
        width: 44rem;
        margin: 0 2rem 1rem 2rem;
    }


    .text-area-section .count-options-div article {
        display: flex;
        justify-content: center;
    }


    .text-area-section .count-options-div span {
        color: var(--white-col-200);
        font-family: 'DMSansRegular', sans-serif;
        font-size: 1rem;
    }


    .light-theme .text-area-section .count-options-div span {
        color: var(--cols-neutral-900);
        font-family: 'DMSansRegular', sans-serif;
        font-size: 1rem;
    }


    .text-area-section .count-options-div article div {
        margin-right: 1.3rem;
    }


    .text-area-section .count-options-div .approx-reading-time-text {
        font-family: 'DMSansRegular', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: var(--white-col-200);
    }


    .light-theme .text-area-section .count-options-div .approx-reading-time-text {
        font-family: 'DMSansRegular', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: var(--cols-neutral-900);
    }




    /* character display section */
    .character-display-section {
        width: 44rem;
        margin: 0 2rem 1rem 1.5rem;
        display: flex;
        justify-content: space-between;
    }


    .character-display-section .character-display-div {
        background-color: var(--purple-col);
        padding: 1rem;
        border-radius: 0.75rem;
        width: 14rem;
        height: 9.375rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
    }


    .character-display-section .word-count-display-div { 
        background-color: var(--yellow-col);
        padding: 1rem;
        border-radius: 0.75rem;
        width: 14rem;
        height: 9.375rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;

    }


    .character-display-section .sentence-display-div {
        background-color: var(--orange-col);
        padding: 1rem;
        border-radius: 0.75rem;
        width: 14rem;
        height: 9.375rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;

    }


    .character-display-section .count-number-text {
        font-family: 'DMSansBold', sans-serif;
        font-size: 3.5rem;
        color: var(--black-col);

    }


    .character-display-section .word-number-text {
        font-family: 'DMSansBold', sans-serif;
        font-size: 4rem;
        color: var(--black-col);
    
    }
    
    
    .character-display-section .sentence-number-text {
        font-family: 'DMSansBold', sans-serif;
        font-size: 4rem;
        color: var(--black-col);
    
    }
    

    .character-display-section .count-type-text {
        font-family: 'DMSansRegular', sans-serif;
        color: var(--black-col);
        font-size: 1.15rem;

    }


    .character-display-section .pattern-image {
        position: absolute;
        right: -80px;
        bottom: 0;
    }



    /* letter density section */
    .letter-density-section {
        width: 44rem;
        margin: 0 2rem 1rem 1.5rem;
    }


    .letter-density-section .letter-density-text {
        font-family: 'DMSansSemiBold', sans-serif;
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 1.25rem;
        color: var(--white-col-200)
    }


    .light-theme .letter-density-text {
        font-family: 'DMSansSemiBold', sans-serif;
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 1.25rem;
        color: var(--cols-neutral-900)
    }


    .letter-density-section .letter-density-display-div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.75rem;
    }


    .letter-density-section .density-bar-parent-div {
        width: 35.813rem;
        height: 0.75rem;
        background-color: var(--light-grey-col);
        border-radius: 62.438rem;
    }


    .light-theme .density-bar-parent-div {
        background-color: var(--cols-neutral-100);

    }


    .letter-density-section .density-bar-child-div {
        width: 16%;
        height: 0.75rem;
        background-color: var(--purple-col);
        border-radius: 62.438rem;
    }


    .letter-density-section .letter-density-display-article h3 {
        font-family: 'DMSansRegular', sans-serif;
        font-size: 1rem;
        color: var(--white-col-200);
        font-weight: normal;
    }


    .light-theme .no-characters-found-text {
        color: var(--cols-neutral-600);
    }


    .light-theme .letter-density-info-text {
        color: var(--cols-neutral-600);
    }

}






/* mobile responiveness */
@media ( max-width: 768px ) {
    .container {
        max-width: 23.433rem;
        margin: 2rem auto 4rem auto;
        overflow-x: hidden;
    }


    /* navbar styles */
    .navbar {
        margin-bottom: 2.5rem;
    }
    

    .navbar section {
        width: 21.438;
        display: flex;
        justify-content: space-between;
        margin: 0 1rem 1.063rem 1rem;
    }

    .navbar button {
        background-color: var(--light-grey-col);
        cursor: pointer;
        padding: 0.4rem;
        border-radius: 0.7rem;
        border: none;
        width: 2rem;
        height: 2rem;
    }
    
    
    .light-theme .navbar button {
        background-color: var(--cols-neutral-100);
        cursor: pointer;
        padding: 0.4rem;
        border-radius: 0.7rem;
        border: none;
        width: 2rem;
        height: 2rem;
    
    }
    

    .navbar .site-logo {
        width: 11.5rem;
    }

    .navbar .theme-icon {
        width: 1.25rem;
    }


    /* header section styles */
    .header-section {
        margin-bottom: 2.5rem;

    }

    .header-section .header-text-div {
        width: 23.438rem;
    }

    
    .header-section .analyze-text {
        font-family: 'DMSansBold', sans-serif;
        margin: 0 1rem 0 1rem;
        font-size: 2.5rem;
        text-align: center;
        color: var(--white-col);
    }


    .light-theme  .header-section .analyze-text {
        font-family: 'DMSansBold', sans-serif;
        margin: 0 1rem 0 1rem;
        font-size: 2.5rem;
        text-align: center;
        color: var(--cols-neutral-900);
    }



    /* text area section styles */
    .text-area-section {
        margin-bottom: 2.5rem;
    }


    .text-area-section .text-area {
        width: 21.438rem;
        height: 12.5rem;
        padding: 1rem;
        margin: 0 1rem 1rem 1rem;
        background-color: var(--light-grey-col);
        border-radius: 0.75rem;
        resize: none;
        outline: none;
        box-shadow: none;
        color: var(--white-col);
        font-size: 1.25rem;
        line-height: 140%;
    }


    .light-theme .text-area-section .text-area {
        font-family: "DMSansRegular", sans-serif;
        width: 21.438rem;
        height: 12.5rem;
        padding: 1rem;
        margin: 0 1rem 1rem 1rem;
        background-color: var(--cols-neutral-100);
        border-radius: 0.75rem;
        resize: none;
        outline: none;
        box-shadow: none;
        color: var(--cols-neutral-900);
        font-size: 1.25rem;
        line-height: 140%;
    }


    .text-area-section .count-options-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 44rem;
        margin: 0 2rem 1rem 2rem;
    }


    .text-area-section .count-options-div article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .text-area-section .count-options-div span {
        color: var(--white-col-200);
        font-family: 'DMSansRegular', sans-serif;
        font-size: 0.85rem;
        font-weight: normal;
    }


    .light-theme .text-area-section .count-options-div span {
        color: var(--cols-neutral-600);
        font-family: 'DMSansRegular', sans-serif;
        font-size: 0.85rem;
        font-weight: normal;
    }


    .text-area-section .count-options-div article div {
        margin-right: 1.3rem;
        margin-bottom: 0.75rem;

    }


    .text-area-section .count-options-div .approx-reading-time-text {
        font-family: 'DMSansRegular', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: var(--white-col-200);
    }


    .light-theme .text-area-section .count-options-div .approx-reading-time-text {
        font-family: 'DMSansRegular', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: var(--cols-neutral-600);
    }



    /* character display section */
    .character-display-section {
        width: 21.438rem;
        height: 26.375rem;
        margin: 0 1rem 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .character-display-section .character-display-div {
        background-color: var(--purple-col);
        padding: 1rem;
        border-radius: 0.75rem;
        width: 21.438rem;
        height: 8.125rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;

    }


    .character-display-section .word-count-display-div { 
        background-color: var(--yellow-col);
        padding: 1rem;
        border-radius: 0.75rem;
        width: 21.438rem;
        height: 8.125rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;

    }


    .character-display-section .sentence-display-div {
        background-color: var(--orange-col);
        padding: 1rem;
        border-radius: 0.75rem;
        width: 21.438rem;
        height: 8.125rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: hidden;

    }


    .character-display-section .count-number-text {
        font-family: 'DMSansBold', sans-serif;
        font-size: 3.5rem;
        color: var(--black-col);
    }


    .character-display-section .word-number-text {
        font-family: 'DMSansBold', sans-serif;
        font-size: 4rem;
        color: var(--black-col);
    
    }
    
    
    .character-display-section .sentence-number-text {
        font-family: 'DMSansBold', sans-serif;
        font-size: 4rem;
        color: var(--black-col);
    
    }
    

    .character-display-section .count-type-text {
        font-family: 'DMSansRegular', sans-serif;
        color: var(--black-col);
        font-size: 1.15rem;

    }


    .character-display-section .pattern-image {
        position: absolute;
        right: -80px;
        bottom: 0;
    }



    /* letter density section */
    .letter-density-section {
        width: 21.438rem;
        height: 15.75rem;
        margin: 0 2rem 1rem 1.5rem;
    }


    .letter-density-section .letter-density-text {
        font-family: 'DMSansSemiBold', sans-serif;
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 1.25rem;
        color: var(--white-col-200)
    }


    .light-theme .letter-density-text {
        font-family: 'DMSansSemiBold', sans-serif;
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 1.25rem;
        color: var(--cols-neutral-900)
    }


    .letter-density-section .letter-density-display-div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.75rem;
    }


    .letter-density-section .density-bar-parent-div {
        align-self: center;
        width: 13.25rem;
        height: 0.75rem;
        background-color: var(--light-grey-col);
        border-radius: 62.438rem;
    }


    .light-theme .density-bar-parent-div {
        align-self: center;
        width: 13.25rem;
        height: 0.75rem;
        background-color: var(--cols-neutral-100);
        border-radius: 62.438rem;
    }

    .letter-density-section .density-bar-child-div {
        width: 16%;
        height: 0.75rem;
        background-color: var(--purple-col);
        border-radius: 62.438rem;
    }


    .letter-density-section .letter-density-display-article h3 {
        font-family: 'DMSansRegular', sans-serif;
        font-size: 1rem;
        color: var(--white-col-200);
        font-weight: normal;
    }




}